@use '../../styles/_variables.scss' as *;

.transaction-history {
    padding: 1rem;
    border: 1px solid $gray;
    margin-bottom: 1rem;
    background-color: #fff;
  
    h3 {
      color: $primary;
    }
  
    input {
      margin-right: 0.5rem;
    }
  
    button {
      margin-right: 0.5rem;
      background-color: $primary;
      color: white;
      border: none;
  
      &:last-of-type {
        background-color: $gray;
      }
    }
  
    table {
      width: 100%;
      margin-top: 1rem;
      border-collapse: collapse;
  
      th, td {
        padding: 0.5rem;
        border: 1px solid #ddd;
        text-align: left;
      }
  
      th {
        background-color: #e9ecef;
      }
    }
}
  