@use '../../styles/_variables.scss' as *;

.redemption-form {
    padding: 1rem;
    border: 1px solid $gray;
    margin-bottom: 1rem;
    background-color: #fff;
  
    h3 {
      color: $primary;
    }
  
    input {
      margin-right: 0.5rem;
    }
  
    button {
      margin-right: 0.5rem;
  
      &:first-of-type {
        background-color: $primary;
        color: white;
        border: none;
      }
  
      &:nth-of-type(2) {
        background-color: $gray;
        color: white;
        border: none;
      }
    }
  
    .otp-modal {
      margin-top: 1rem;
      padding: 1rem;
      border: 1px dashed $gray;
      background-color: #f0f0f0;
  
      input {
        margin-right: 0.5rem;
      }
  
      button {
        margin-right: 0.5rem;
  
        &:first-of-type {
          background-color: $success;
          color: white;
          border: none;
        }
  
        &:last-of-type {
          background-color: $danger;
          color: white;
          border: none;
        }
      }
    }
}
  